<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86229631164-27vg6abpe79jjjm69k4q7n3hepceocp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86229631164-27vg6abpe79jjjm69k4q7n3hepceocp8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_P3JiACAKeL8WXxAv9A-BtNANgeKVhOg</string>
	<key>GCM_SENDER_ID</key>
	<string>86229631164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malwee.digitalpark</string>
	<key>PROJECT_ID</key>
	<string>h-digital-park</string>
	<key>STORAGE_BUCKET</key>
	<string>h-digital-park.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86229631164:ios:2e366a2b7ac3ee6bf750b9</string>
	<key>DATABASE_URL</key>
	<string>https://h-digital-park.firebaseio.com</string>
</dict>
</plist>